<div class="container col-md-8 text-center mt-3 mb-3">
    <table class="table table-bordered">
        <tr>
            <th class="text text-primary" colspan="6">LECTURER LIST</th>
            <th>
                <a class="btn btn-primary" href="/lecturer/add">Add</a>
            </th>
        </tr>
        <tr>
            <th>Full Name</th>
            <th>Birth year</th>
            <th>Gender</th>
            <th>Email</th>
            <th>Course</th>
            <th>Image</th>
            <th>Actions</th>
        </tr>

        {{#each lecturers }}
        <tr>
            <td>{{ name }}</td>
            <td>{{ birth_year }}</td>
            <td>{{ gender }}</td>
            <td>{{ email }}</td>
            <td>{{ course }}</td>
            <td>
                <img src="{{image}}" alt="" width="150" height="150">
            </td>
            <td>
                <a href="/lecturer/edit/{{_id}}" class="btn btn-warning">Edit</a>
                <a onclick="return confirm('Are you sure?')" href="/lecturer/delete/{{_id}}"
                    class="btn btn-danger">Delete</a>
            </td>
        </tr>
        {{/each}}
    </table>
</div>